@mixin animacao {
    -webkit-transition: all 700ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
    -moz-transition: all 700ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
    -o-transition: all 700ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
    transition: all 700ms cubic-bezier(0.000, 0.000, 0.380, 1.000);
}

@mixin animaExpo {
    -webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

* {
    outline: none;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-wr {
    flex-wrap: wrap;
}

.flex-ch {
    justify-content: center;
}

.flex-ri {
    justify-content: flex-end;
}

.flex-bv {
    align-items: flex-end;
}

.flex-le {
    justify-content: flex-start;
}

.flex-sp {
    justify-content: space-between;
}

.flex-sa {
    justify-content: last-baseline;
    padding-top: 50px;
}

.flex-cv {
    align-items: center;
}

.h-100 {
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ico {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
}

.barra {
    float: left;
    width: 100%;
}

.cover {
    background-size: cover !important;
}

section.filmes {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .bgs {
        width: 100%;
        height: 100%;
        position: absolute;

        div {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 70%;
            height: 40%;
            top: 100%;
            left: 100%;
            transform: rotate(45deg);
            @include animaExpo();
            transition-duration: 1000ms;

            &.ativo {
                opacity: 1;
                visibility: visible;
                transform: rotate(0deg);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &.item1 {
                background: url(../assets/bg-dexter.jpg) no-repeat center center / cover;
            }

            &.item2 {
                background: url(../assets/bg-lost.jpg) no-repeat center center / cover;
            }

            &.item3 {
                background: url(../assets/bg-suits.jpg) no-repeat center center / cover;
            }
        }
    }

    .txts-bgs {
        position: absolute;
        top: 50px;
        left: 50px;
        color: #fff;
        text-transform: uppercase;
        width: 100%;

        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;

            &.ativo {
                opacity: 1;
                visibility: visible;
            }

            h2 {
                font-size: 70px;
                font-weight: 600;
            }

            h4 {
                font-size: 30px;
                font-weight: 300;
            }
        }
    }

    .conteudos {
        background: #fff;
        position: absolute;
        width: 70%;
        height: 40%;
        bottom: 0;
        right: 0;
        overflow: hidden;

        >div {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            padding: 20px;
            visibility: hidden;

            &.ativo {
                opacity: 1;
                visibility: visible;
            }

            h3 {
                margin-bottom: 20px;
                font-size: 20px;
                margin-top: 35px;
            }

            p {
                margin-bottom: 25px;
                color: #777;
            }

            .flex {
                position: relative;

                .item {
                    h4 {
                        color: #333;
                        text-transform: uppercase;
                        font-size: 16px;
                    }

                    h5 {
                        color: #777;
                    }
                }
            }
        }
    }

    .thumbs {
        position: absolute;
        right: 0;
        bottom: calc(50% - 125px);
        width: 290px;
        height: 175px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            div.hover {
                visibility: visible;
                transform: scale(1) rotate(0deg);
                top: 0;
                left: 0;
            }
        }

        div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 100%;
            visibility: hidden;
            z-index: 8;
            transform: scale(0) rotate(45deg);
            @include animaExpo();
            transition-duration: 1000ms;

            &.ativo {
                visibility: visible;
                transform: scale(1);
                top: 0;
                left: 0;
            }

            &.hover {
                z-index: 9;
            }

            &.item1 {
                background: url(../assets/bg-dexter.jpg) no-repeat center center / cover;
            }

            &.item2 {
                background: url(../assets/bg-lost.jpg) no-repeat center center / cover;
            }

            &.item3 {
                background: url(../assets/bg-suits.jpg) no-repeat center center / cover;
            }

            h3 {
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
}